.navig {
		position: sticky;
		top: 0;
		width: 100%;
}

.navig ul {background-color:#AAA;
        color:white; 
        font-family:calibri; 
        text-align:left;
		padding: 0px;
		margin: 0px;
		border-bottom: 5px solid #AAFFAA;
		width: 100%;
		overflow: hidden; 
		list-style-type: none;
		
}

.navig li {
	float: left;
}

.navig li a, .dropbtn {
    background-color: #888;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
	display: block;
	border-right: 1px solid #AAFFAA;
}

.navig li a:hover, .dropdown:hover .dropbtn {
background-color: black;
}






.navig li.droite {
	float: right;
}

/*dropdown pour les liens****/

.dropdown {
	display: inline-block;
}

.dropdown-content {
	border: none;
	display: none;
	position: absolute;
	min-width:160px;
	box-shadow: 10px 10px 2px rgba (0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black!important;
	background-color: #FFF!important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1!important;
}

.dropdown:hover  .dropdown-content {
	display:block;
	
}

.navig .actif {
	background-color: #AAFFAA;
}







/* @media screen and (max-width: 400px){           
    ul.navig li.droite, 
    ul.navig li {float: none;} */    /* Avec cette portion de code, la barre de navigation
										devrait devenir verticale pour les petits ?crans et
										les fen?tre de largeur inf?rieure ou ?gale ? 600px, mais ?a ne marche pas.*/


										
										