table { border-collapse: collapse;}
	th { 
		font-size: 100%;
		text-align: center;
		background-color: #AA00FF;
		color: white;
		border-bottom: 2px solid green;
		border-right: 2px solid green;
		 
		}
	td { 
		
		font-size: 100%;
		text-align: left;
		vertical-align: top;
		width: 100px;
		border-bottom: 2px solid green;
		
		}
	tr:nth-child(even){background-color: #f2f2f2}